version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: Log-Aggregation-Analytics-DB
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: log_analytics-db
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - mysql-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/log_analytics-db

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend