version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: Log-Aggregation-Analytics-DB
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: log_analytics-db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - log-network

networks:
  log-network:
    driver: bridge

volumes:
  mysql_data: